.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5rem; /* Adding padding from left and right */
    color: var(--light-text-color);
    background: var(--dark-background-color);
  }
  
  .left-side {
    display: flex;
    align-items: center;
    gap: 32px; /* Adding some space between the brand and navigation links */
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 2rem;
  }
  
  .nav-links li {
    cursor: pointer;
  }
  
  .right-side {
    display: flex;
    gap: 16px;
  }
  .login{
    margin:auto;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  /* Responsive styles for small screens */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      gap: 12px;
    }
  
    .left-side,
    .right-side {
      flex-direction: column;
      align-items: center;
    }
  }
  