@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark-background-color:#252B42;
    --primary-color:#23A6F0;
    --light-text-color: #FFFFFF;
    --light-background-color: #FFFFFF;
    --faded-secondary-color: #AAEAD0;
}
.App{
    height: 100%;
    background: var(--dark-background-color);
}